html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    font-size: 3.8rem;
    background-color: aliceblue;
}

*{
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 3rem 2rem;
    z-index: 10;
}

header.abajo{
    background: #fff;
    padding: 1.5rem 2rem;
}

header .logo{
    position: relative;
    color: #b12626;
    font-weight: bold;
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: .2px;
    transition: 1.5s;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
}

header ul li a{
    position: relative;
    font-family: Helvetica;
    margin: 0 1.5rem;
    text-decoration: none;
    color: #fff;
    letter-spacing: .2rem;
    font-weight: 600;
    transition: 0.7s;
}

.zona1{
    position: relative;
    width: 100%;
    height: 40rem;
    background-image: url(https://static.vecteezy.com/system/resources/previews/006/241/112/non_2x/modern-black-abstract-gradient-radial-background-technology-corporate-design-blank-space-for-text-free-photo.jpg);
    background-size: cover;
    background-position: center center;
}

header.abajo .logo{
    color: #b12626;
}

header.abajo ul li a{
    color: #191e51;
}

.hero{
    position: relative;
    width: 100%;
    height: 87%;
    top: 8rem;
}

.contenido-hero{
    position: relative;
    width: 100%;
    height: 100%;
}

.titulo{
    position: absolute;
    width: 80rem;
    left: 7%;
    top: 10%;
}

.titulo h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 5rem;
    color: #fff;
}

.titulo p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    color: #fff;
}

.zona-productos{
    width: 100%;
    padding: 4rem 4rem;
    
    
    display: grid;
    grid-template-columns: 40% 58%;
    gap: 2rem;
}

.contenedor-filtros{
    width: 100%;
}

.filtro-busqueda{
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .8);
    padding: 1rem;
}

.contenedor-filtros p{
    color: #000;
}

.contenedor-productos{
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .8);
    
}

.info-producto{
    width: 100%;
    display: grid;
    grid-template-columns: 15rem 1fr;
}

.imagen-producto{
    width: 100%;
    height: 100%;
    position: relative;
}

.info-producto img{
    width: 15rem;
    height: 15rem;
    background-size: cover;
    background-position: center center;
}

.info{
    width: 100%;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

.info h3{
    padding: 1rem;
}

.marca p{
    margin-left: 1rem;
}

.marca span{
    color:#1c7440;
}

.cantidad-precio{
    display: grid;
    grid-template-columns: 20% 80%;
}

.cantidad-precio p{
    margin-left: 1rem;
}

.precio{
    text-align: right;
    margin-right: 1rem;
}

.boton-anadir {
    background-color: #ffd814;
    border-color: #ffd814;
    padding: .2rem;
    border-radius: 1rem;
    margin: 1rem;
    transition: background-color 0.3s ease;
}

.boton-anadir:hover {
    background-color: #e6c313;
    border-color: #e6c313;
}

.busqueda-productos input{
    display: inline-block;
    width: 90%;
    height: 4rem;
    border: gray solid 1px;
}

.busqueda-productos button{
    width: 4rem;
    height: 4rem;
    background-color: rgb(79, 174, 236);
    border-radius: 1rem;
    border: 0;
}


.contenedor-filtros h3{
    color: #000;
}

.filtros{
    width: 100%;
    color: #000;
    font-size: 2rem;
}

.filtro-marca{
    padding: 1rem;
}

.zona-checkbox{
    margin-top: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .8);
}

.zona-checkbox h3{
    margin-left: 1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

