html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    font-size: 3.8rem;
    background-color: aliceblue;
}

*{
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 3rem 2rem;
    z-index: 10;
}

header.abajo{
    background: #fff;
    padding: 1.5rem 2rem;
}

header .logo{
    position: relative;
    color: #b12626;
    font-weight: bold;
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: .2px;
    transition: 1.5s;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
}

header ul li a{
    position: relative;
    font-family: Helvetica;
    margin: 0 1.5rem;
    text-decoration: none;
    color: #fff;
    letter-spacing: .2rem;
    font-weight: 600;
    transition: 0.7s;
}

.zona1{
    position: relative;
    width: 100%;
    height: 25rem;
    background-color: #191e51;
    background-size: cover;
    background-position: center center;
}

header.abajo .logo{
    color: #b12626;
}

header.abajo ul li a{
    color: #191e51;
}

.contenedor{
    width: 20%;
    height: auto;
    padding: 2rem;
    margin: 10% auto;
    border-radius: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.hero{
    position: relative;
    width: 100%;
    height: 87%;
    top: 8rem;
}

.contenido-hero{
    position: relative;
    width: 100%;
    height: 100%;
}

.titulo{
    position: absolute;
    width: 80rem;
    height: 40rem;
    left: 7%;
    top: 10%;
}

.titulo h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 5rem;
    color: #fff;
}

.titulo p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    color: #fff;
}

.carrito{
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center center;

    /* Flexbox para centrar el contenido */
    display: flex;
    justify-content: left; /* Centrar horizontalmente */
    align-items: center;     /* Centrar verticalmente */
}

.contenedor-carrito{
    width: 70%;   /* Tamaño mediano, puedes ajustarlo según necesites */
    height: 90%;  /* Ajusta la altura también */
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Añadir sombra para resaltar */
    padding: 2rem; /* Espaciado interno para darle margen a los productos */
    margin-left: 2.5rem;
}

.titulo-carrito{
    background-color: #fff;
    width: 100%;
    padding: .5rem;
}

.titulo-carrito h3{
    font-size: 4rem;
    margin-left: 1rem;
}

.titulo-carrito p{
    text-align: right;
    margin-right: 1rem;
}

.contenedor-total{
    background-color: rgb(141, 165, 32);
    width: 25%;
    height: 90%;
    border-radius: 1rem;
    padding: 2rem;
    margin-left: 1.5rem;

}

.productos-carrito{
    width: 100%;
    display: flex;
    position: relative;
}

.productos-carrito img{
    height: 14rem;
    width: 14rem;
}

.info-producto{
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center center;

    display: flex;
    justify-content: left;
    align-items: flex-start;
    position: relative;
}

.nombre-producto{
    width: 80%;
    padding: 1rem;
    display: inline;
}

.nombre-producto p{
    color: #000;
    font-weight: bold;
}

.cantidad{
    position: absolute;
    padding: 1rem;
    bottom: 0;
}

.cantidad p{
    color: #000000;
}

.precio-producto{
    width: 20%;
    padding: 1rem;
}

.precio-producto p{
    color: #000000;
    text-align: right;
    margin-right: .8rem;
}

.precio-total{
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 1.5rem;
    margin-right: 1rem;
}

.precio-total span{
    font-weight: bold;
}

.boton-producto{
    position: absolute;
    right: 2rem;
    bottom: 3rem;
}

.boton-producto a{
    color: #fff;
    background-color: #b12626;
    padding: .5rem;
    border-radius: 1rem;
    text-decoration: none;
    border: 2px solid rgb(255, 255, 255);  /* Borde interno */
    outline: 2px solid #b12626;   /* Borde externo */
}

.boton-producto a:hover {
    color: white;
    background-color: #851d1d;
}

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

